COMPOSE_PROJECT_NAME=dev-gcp

# GCP PROJECT
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
CLOUDSDK_CORE_PROJECT=your-gcp-project-id
TF_VAR_project_id=your-gcp-project-id

CLOUDSDK_COMPUTE_REGION=asia-northeast1
CLOUDSDK_COMPUTE_ZONE=asia-northeast1-a

# GKE
CLUSTER_NAME=your-gke-cluster-name
CLUSTER_LOCATION=asia-northeast1-a

# MYSQL
CLOUDSQL_CONNECTION_NAME=your-gcp-project-id:asia-northeast1:your-mysql-instance
MYSQL_HOST=proxy
MYSQL_PORT=3306
MYSQL_USER=your-mysql-user
MYSQL_PWD=your-mysql-password
MYSQL_DATABASE=your-database-name
