[alias]
    sb = show-branch
    rt = remote

    # rebase
    rb   = rebase
    rba  = rebase --abort
    rbc  = rebase --continue
    rbs  = rebase --skip

    # add
    a  = add .

    # fetch
    f = fetch

    # commit
    ci = commit -v
    ca = commit -va

    # status
    s = status -uno
    st = status .

    # checkout
    co = checkout

    # cherry pick
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue

    # diff
    d = diff .
    df = "diff --cached"
    dfc = "diff --cached"

    # log
    l = log -n 5
    lp = log -p
    lg = log -g
    l1 = log --oneline
    today = log --since=midnight --author='$(git config user.name)' --oneline

    # graph log
    g = log --graph
    gl = log --graph
    gf = log --graph --oneline --decorate=full
    gb = log --graph --branches --pretty=format:"%d [%h] \"%s\""
    gg = log --graph --name-status --pretty=format:"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset"

    # branch
    b = branch -avv
    br = branch
    brm = branch --merged
    brn = branch --no-merged

    # reset
    rs = reset

    # merge
    ma = merge --abort

    # stash
    sa  = stash
    sal = stash list
    sap = stash pop

    # push
    p = push

    # worktree
    wl = worktree list
    wa = worktree add
    wr = worktree remove
    wp = worktree prune
    wm = worktree move


    ls = ls-files
[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    #️ git stなど、日本語の文字化け対応
    quotepath = false

[push]
    default = current
