[user]
	name = her0e1c1
	email = her0e1c1@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	s = status
	st = status
	rt = remote
    d = diff
    dc = "diff --cached"
    dic = "diff --cached"
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
    default = matching
