[user]
	name = her0e1c1
	email = her0e1c1@gmail.com
[alias]
	rt = remote

    # rebase
    rb   = rebase
    rbi  = rebase -i --autosquash
    rbm  = rebase -i --autosquash master
    rba  = rebase --abort
    rbc  = rebase --continue
    rbs  = rebase --skip

    # add
	au = add -u
    ap = add -p

	# fetch
	f = fetch
	fm = fetch origin master

	# commit
	ci = commit -v
	cad = commit -v --amend
	ca = commit -va
	ciam = commit -am

	# status
	s = status -uno
	st = status

    # checkout
    com = checkout master
	co = checkout
	cob = checkout -b

    # diff
    d = diff
    df = diff
    dfm = diff master..
    dfomh = diff origin/master..HEAD
    dfhom = diff HEAD..origin/master
    dff = diff ..FETCH_HEAD
    dfc = "diff --cached"
    dfw = diff --word-diff
    dfcw = "diff --cached" --word-diff

    # log
	l = log -n 5
	lp = log -p
	lg = log -g
	l1 = log --oneline
	lm = log master..
    ld = 'log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short'
    today = log --since=midnight --author='$(git config user.name)' --oneline

    # graph log
	g = log --graph
	gl = log --graph
    gf = log --graph --oneline --decorate=full
    gb = log --graph --branches --pretty=format:"%d [%h] \"%s\""
    gg = log --graph --name-status --pretty=format:"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset"

    # branch
	b = branch -avv
	br = branch
    brm = branch --merged
    brn = branch --no-merged

    # reset
	rs = reset
	rs1 = reset HEAD~
    rsm = reset --merge
    rso = reset ORIG_HEAD --hard

	# merge
	mf = merge FETCH_HEAD

    # stash
    sh = stash
    shl = stash list
    sha = stash apply

[color]
	ui = true

[core]
	editor = vim
	excludesfile = ~/.gitignore
    #️ git stなど、日本語の文字化け対応
    quotepath = false

[push]
    default = matching
