XTerm*forcePackedFont:  FALSE
XTerm*fontDoublesize: true
XTerm*saveLines         : 2000
XTerm*selectToClipboard : true
XTerm*geometry          : 80x30+535+0
XTerm*background        : black
XTerm*foreground        : white
XTerm*faceSize          : 15
XTerm*utf8              : 1
XTerm*cjkWidth: true
XTerm*VT100*faceName:           Monospace
!XTerm*VT100*faceNameDoublesize: VLGothic
XTerm*VT100*faceSize:    14
